.main {
    width: 7.5rem;
    overflow-x: hidden;
    margin: 0 auto;
}

.fl {
    float: left;
}

.clearFix::after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
}

.header {
    height: 4.38rem;
    background: url("../images/banner.png");
    background-size: cover;
}

.container {
    background: url("../images/bj2.png") bottom, url("../images/bj1.png") top, url("../images/cloud2.png") top, url("../images/cloud1.png") top;
    background-repeat: no-repeat;
    background-size: cover,cover, contain, contain;
    background-position:0 -2.5rem, 0 -3.2rem, 0 0.62rem, 0 0;
    margin-top: -1.07rem;
    padding: 0 0.3rem 1.7rem 0.3rem;
    margin-bottom:4.09rem;
}

.container_top {
    display: flex;
    line-height: 0.4rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.06rem;
}

.congxianzai {
    width: 1.5rem;
}

.sy_tip {
    font-size: 0.28rem;
}

.mainBody {
    position: relative;
    padding-top: 0.45rem;
}

.main_line {
    width: 0.04rem;
    background: #9f93fe;
    /* margin-left: 1.92rem; */
    /* margin-top: 1rem; */
}

.djq_img {
    width: 1.96rem;
    height: 1.2rem;
    border-radius: 0.08rem;
    background: #a7c8ff;
    position: relative;
    overflow: hidden;
}

.djq_img::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(0, 0, 0, 0.05);
    top: -0.5rem;
    left: 0.8rem;
    border-radius: 50%;
}

.waitingAdopt::after {
    width: 3.2rem;
    height: 3.2rem;
    left: 1.05rem;
}

.waitingAdopt .djq_bottom b {
    font-size: 1rem;
    color: #fff;
}

.waitingAdopt .djq_img_top {
    margin: 0.18rem 0.18rem 0;
}

.waitingAdopt .djq_img_middle {
    margin: 0 0.18rem;
}

.waitingAdopt .djq_bottom span {
    font-size: 0.33rem;
    color: #fff;
}

.djq_img_top {
    display: flex;
    justify-content: space-between;
    margin: 0.1rem 0.1rem 0;
}

.djq_img_middle img {
    width: 0.7rem;
    height: 0.23rem;
    display: inline-block;
}

.djq_img_middle {
    text-align: right;
    margin: 0.01rem 0.1rem 0;
}

.djq_bottom {
    margin-left: 0.2rem;
}

.djq_bottom b {
    font-size: 0.63rem;
    color: #e6efff;
    vertical-align: -0.03rem;
}

.djq_bottom span {
    font-size: 0.14rem;
    color: #e6efff;
    margin-top: -0.1rem;
}

.smallCir {
    width: 0.06rem;
    height: 0.06rem;
}

.waitingAdopt .djq_img {
    width: 3.05rem;
    height: 1.82rem;
}

.waitingAdopt .djq_img::after {
    width: 3rem;
    height: 3rem;
    left: 1.1rem;
}

.waitingAdopt .smallCir {
    width: 0.11rem;
    height: 0.11rem;
}

.waitingAdopt .smallDJQ {
    width: 1.63rem;
    height: 0.15rem;
}

.waitingAdopt .djq_img_middle img {
    width: 1.09rem;
    height: 0.36rem;
}

.smallDJQ {
    width: 1.03rem;
    height: 0.09rem;
}

.dataList {
    display: flex;
    align-items: center;
    padding-bottom: 0.6rem;
    position: relative;
}
.dataList:last-child{
    padding: 0;
}

.times {
    text-align: right;
    width: 1rem;
}

.circle {
    width: 0.24rem;
    height: 0.24rem;
    background: #c5c2ff;
    border-radius: 100%;
    position: relative;
    margin: 0 0.5rem 0 0.3rem;
}

.circle::after {
    width: 0.18rem;
    height: 0.18rem;
    background: #a399fe;
}

.circle::before {
    width: 0.08rem;
    height: 0.08rem;
    background: #8d7efe;
    z-index: 999;
}

.circle::after,
.circle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
}

.status {
    width: 1.14rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0.3rem;
}

.lines {
    position: absolute;
    left: 1.4rem;
    top: 0;
    border-right: 0.04rem solid #8d7efe;
    height: 1.8rem;
}

.list .dataList:first-child .lines {
    height: 1.21rem;
    top: 0.58rem;
}

.list .dataList:last-child .lines {
    height: 0.6rem;
}

.waitingAdopt .status span:first-child {
    height: 1.14rem;
    background: url("../images/ly.png");
    background-size: cover;
    line-height: 1.14rem;
    font-size: 0.34rem;
    color: #fff;
}

.waitingAdopt .times {
    font-size: 0.48rem;
}

.waitingAdopt .lines {
    height: 2.42rem;
}

.waitingAdopt .status {
    margin-left: 0.4rem;
}

.sixteen .djq_img {
    background: #f6d973;
}

.oneHundred .djq_img {
    background: #fe88ab;
}

.footer{
    height:4.59rem;
    background:url("../images/foot_bj.png");
    background-size: cover;
    position: absolute;
    bottom:0;
    width:100%;
}
.footer_title{
    display: flex;
    align-items: center;
    padding:0.49rem 2.35rem 0.34rem;
}
.footer_title_hb{
    width:0.49rem;
    height:0.48rem;
}
.footer_title_tt{
    width:1.42rem;
    height:0.35rem;
    margin:0 0.2rem;
}
.footer_info{
    padding:0 0.35rem 0 0.2rem;
}
.footer_info p{
    font-family: STYuanti-SC-Regular;
    font-size: 0.28rem;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0 0.03rem 0 rgba(76,42,210,0.25);
    line-height: 0.44rem;
}